.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1000px;
  margin: 0 auto;

  .features-title {
    h1 {
      font-family: 'SBAggroB';
      font-size: 40px;
    }
    p {
      font-family: 'Noto Sans KR';
      font-size: 22px;
      color: #797775;
    }
  }
}
