.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .title {
    font-family: 'SBAggroB';
    font-size: 64px;
    font-weight: medium;
  }

  .subtitle {
    font-family: 'Noto Sans KR', sans-serif;
    color: #797775;
    font-weight: medium;
  }
}

@media (max-width: 1000px) {
  .Header {
    flex-direction: column;
  }
}
